[mysqld]
max_connections        = 10
key_buffer_size        = 16K
max_allowed_packet     = 1M
thread_stack           = 128K
table_open_cache       = 4
sort_buffer_size       = 64K
read_buffer_size       = 256K
read_rnd_buffer_size   = 256K
net_buffer_length      = 2K
thread_cache_size      = 8
innodb_buffer_pool_size = 8M
innodb_log_buffer_size = 256K
performance_schema    = OFF
skip_log_bin           = ON
